body,
html {
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 3em;
  color: aliceblue;
  display: flex;
  justify-content: center;
  margin-top:100px ;
}
.btn-xl{
  border: none;
  padding: 1rem 2rem;
  color: aliceblue;
  background-color: blue;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
/* hr{
  border-color: aliceblue;
  border-radius: 100px;
  max-width: 100px;
  border: solid;
  opacity: 100%;
} */
section{
  align-items: center;
}
.buffer{
  height: 10rem;
}